*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #010114f4;
    overflow-x: hidden;

}

@media (min-width: 481px) and (max-width:640px){

    .logo{
     /* border: 1px solid #ffffff51; */
     height: 100px;
     width: 100px;
     margin-top: 20px;
     margin-left: 25px;
     left: 10%;
    }
 
    h1{
     font-size: 50px;
     color: #fff;
     line-height: 80px;
     position: absolute;
     top: 17vh;
     left: 5%;
    }
 
    h4{
     width: 410px;
     font-size: 27px;
     color:grey;
     position: absolute;
     top: 70vh;
     left: 5%;
     font-weight: 300;
    }
 
    .img2{
     position: absolute;
     top: 90vh;
     height: 350px;
     width: 500px;
    }
 
    .circle{
     height: 150px;
     width: 150px;
     border-radius: 50%;
     border: 2px solid aqua;
     justify-content: center;
     text-align: center;
     position: relative;
     top: 140vh;
     margin: 0 5%;
     cursor: pointer;
    }
 
    h3{
     width: 100px;
     color: aqua;
     font-size: 24px;
     font-weight: 400;
     margin-top: 45px;
     margin-left: 20px;
    }
 
    i{
     color: #ffffffbb;
     position: absolute;
     font-size: 30px;
     top: 6vh;
     left: 93px;
     transition: .5s ease-in-out;
    }
 
    .circle:hover{
     background-color:rgba(0, 255, 255, 0.141);
     border: 2px solid #fff;
    }
 
    .img3{
     position: absolute;
     top: 162vh;
     width: 200px;
     height: 100px;
     left: 30%;
    }
   
    .form-box{
     border: 1px solid rgba(128, 128, 128, 0.706);
     border-radius: 10px;
     width: 410px;
     height: 470px;
     position:absolute;
     top: 180vh;
     left: 5%;
     background-color: #010114f7;
     backdrop-filter: blur(20px);
     scroll-behavior: smooth;
    }
 
    .input1{
     position: absolute;
     width: 370px;
     height: 50px;
     left: 7%;
     top: 2vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    .input2{
     position: absolute;
     width: 100px;
     height: 50px;
     left: 7%;
     top: 10vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    .input3{
     position: absolute;
     width: 255px;
     height: 50px;
     left: 33%;
     top: 10vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    .input4{
     position: absolute;
     width: 370px;
     height: 50px;
     left: 7%;
     top: 18vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    button{
     position: absolute;
     width: 370px;
     height: 50px;
     left: 7%;
     top: 30vh;
     padding-left: 5px;
     font-size: 1.1rem;
     font-weight: 600;
     font-family: josefin sans, sans-serif;
     color:black;
     border-radius: 10px;
     background-color: aqua;
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
     transition: .5s ease-in-out;
     cursor: pointer;
    }
 
    button:hover{
     background-color: rgba(0, 255, 255, 0.564);
    }

    h2{
     width: 350px;
     font-size: 19px;
     color:grey;
     position: absolute;
     top: 38vh;
     left: 7%;
     font-weight: 300;
    }

    .img4{
    display: none;
    }
    
    .font1{
     font-size: 50px;
     color: #fff;
     line-height: 80px;
     position: absolute;
     top: 229vh;
     left: 5%;
     display: none;
    }
 
    .font2{
     width: 415px;
     font-size: 23px;
     color:grey;
     position: absolute;
     top: 240vh;
     left: 5%;
     font-weight: 300;
    }
 
    footer{
    border-top: 1px solid grey;
    width: 435px;
    height: 100px;
    position: absolute;
    top: 270vh;
    left: 1%;
    }
    .copyright{
     width: 400px;
     position: absolute;
     top: -3vh;
     font-size: 17px;
     color: #fff;
     letter-spacing: 1px;
    }
 
    .bxl-instagram{
     font-size: 30px;
     color: #fff;
     position: absolute;
     left:29% ;
    }
 
    .bxl-facebook-square{
     position: absolute;
     font-size: 30px;
     left: 41%;
     color: #fff;
    }
 
    .bxl-twitter{
     position: absolute;
     font-size: 30px;
     left: 53%;
     color: #fff;
    }
    .bxl-linkedin-square{
     position: absolute;
     font-size: 30px;
     left:65%;
     color: #fff;
     
    }
 
}



@media (max-width:480px){

    .logo{
     /* border: 1px solid #ffffff51; */
     height: 100px;
     width: 100px;
     margin-top: 20px;
     margin-left: 25px;
     left: 10%;
    }
 
    h1{
     font-size: 50px;
     color: #fff;
     line-height: 80px;
     position: absolute;
     top: 17vh;
     left: 5%;
    }
 
    h4{
     width: 410px;
     font-size: 27px;
     color:grey;
     position: absolute;
     top: 70vh;
     left: 5%;
     font-weight: 300;
    }
 
    .img2{
     position: absolute;
     top: 90vh;
     height: 350px;
     width: 500px;
    }
 
    .circle{
     height: 150px;
     width: 150px;
     border-radius: 50%;
     border: 2px solid aqua;
     justify-content: center;
     text-align: center;
     position: relative;
     top: 140vh;
     margin: 0 5%;
     cursor: pointer;
    }
 
    h3{
     width: 100px;
     color: aqua;
     font-size: 24px;
     font-weight: 400;
     margin-top: 45px;
     margin-left: 20px;
    }
 
    i{
     color: #ffffffbb;
     position: absolute;
     font-size: 30px;
     top: 6vh;
     left: 93px;
     transition: .5s ease-in-out;
    }
 
    .circle:hover{
     background-color:rgba(0, 255, 255, 0.141);
     border: 2px solid #fff;
    }
 
    .img3{
     position: absolute;
     top: 162vh;
     width: 200px;
     height: 100px;
     left: 30%;
    }
   
    .form-box{
     border: 1px solid rgba(128, 128, 128, 0.706);
     border-radius: 10px;
     width: 410px;
     height: 420px;
     position:absolute;
     top: 180vh;
     left: 5%;
     background-color: #010114f7;
     backdrop-filter: blur(20px);
     scroll-behavior: smooth;
    }
 
    .input1{
     position: absolute;
     width: 370px;
     height: 50px;
     left: 7%;
     top: 2vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    .input2{
     position: absolute;
     width: 100px;
     height: 50px;
     left: 7%;
     top: 10vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    .input3{
     position: absolute;
     width: 255px;
     height: 50px;
     left: 33%;
     top: 10vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    .input4{
     position: absolute;
     width: 370px;
     height: 50px;
     left: 7%;
     top: 18vh;
     padding-left: 15px;
     font-size: .9rem;
     font-family: josefin sans, sans-serif;
     color: rgba(0, 0, 0, 0.943);
     border-radius: 10px;
     background-color: rgb(249, 250, 251);
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
    }
 
    button{
     position: absolute;
     width: 370px;
     height: 50px;
     left: 7%;
     top: 30vh;
     padding-left: 5px;
     font-size: 1.1rem;
     font-weight: 600;
     font-family: josefin sans, sans-serif;
     color:black;
     border-radius: 10px;
     background-color: aqua;
     border-color: rgba(3, 7, 18, 0.443);  
     outline-color:rgba(11, 69, 170, 0.893);
     transition: .5s ease-in-out;
     cursor: pointer;
    }
 
    button:hover{
     background-color: rgba(0, 255, 255, 0.564);
    }
    
    h2{
     width: 350px;
     font-size: 19px;
     color:grey;
     position: absolute;
     top: 38vh;
     left: 7%;
     font-weight: 300;
    }

    .img4{
    display: none;
    }
    
    .font1{
     font-size: 50px;
     color: #fff;
     line-height: 80px;
     position: absolute;
     top: 229vh;
     left: 5%;
     display: none;
    }
 
    .font2{
     width: 415px;
     font-size: 23px;
     color:grey;
     position: absolute;
     top: 240vh;
     left: 5%;
     font-weight: 300;
    }
 
    footer{
    border-top: 1px solid grey;
    width: 435px;
    height: 100px;
    position: absolute;
    top: 270vh;
    left: 1%;
    }
    .copyright{
     width: 400px;
     position: absolute;
     top: -3vh;
     font-size: 17px;
     color: #fff;
     letter-spacing: 1px;
    }
 
    .bxl-instagram{
     font-size: 30px;
     color: #fff;
     position: absolute;
     left:29% ;
    }
 
    .bxl-facebook-square{
     position: absolute;
     font-size: 30px;
     left: 41%;
     color: #fff;
    }
 
    .bxl-twitter{
     position: absolute;
     font-size: 30px;
     left: 53%;
     color: #fff;
    }
    .bxl-linkedin-square{
     position: absolute;
     font-size: 30px;
     left:65%;
     color: #fff;
     
    }
 
 }
